* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0;
  background: none;
  cursor: pointer;
  outline: none;
  font-family: inherit;
}
ul,
ol {
  list-style: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(124.53deg, #fc3f5f 0%, #7d61ff 100.32%);
  background-repeat: no-repeat;
}
